@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select ,figcaption,figure{
	margin:0;		/* 外边距清零 */
	padding:0;		/* 内边距清零 */
}
body{
	font:.12rem "微软雅黑",Arial; /* 设置全局默认字号及字体 */
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;			/* 取消默认加粗 */
	font-size:100%;				/* 设置字号与父元素相同 */
}
li{
	list-style:none;	
}
a{
	text-decoration:none;	
}
input{
	outline:none;	
}
img{
	vertical-align:top;	
}
/* 万能清除浮动法 */
.clearfix{
	*zoom:1;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	clear:both;
	overflow:hidden;	
}
/* iconfont */

  
  